target/
bin/
.settings
.project
.classpath
target/classes/com/rvfs/challenge/stocksmanager/domain/Stock.class
target/classes/com/rvfs/challenge/stocksmanager/service/StockServiceImpl.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
